# This file contains ignores for build artifacts from standard builds.
# Auxiliary files from local workflows, your preferred editor, etc. should
# be ignored locally using $GIT_DIR/info/exclude or ~/.gitexclude.

# Global excludes across all subdirectories
*.o
*.obj
*.bc
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.so.[0-9].[0-9][0-9]
*.dylib
*.dll
*.exp
*.a
*.mo
*.pot
objfiles.txt
.deps/
*.gcno
*.gcda
*.gcov
*.gcov.out
lcov*.info
coverage/
coverage-html-stamp
*.vcproj
*.vcxproj
win32ver.rc
*.exe
lib*dll.def
lib*.pc

# Local excludes in root directory
/GNUmakefile
/config.cache
/config.log
/config.status
/pgsql.sln
/pgsql.sln.cache
/Debug/
/Release/
/tmp_install/
/portlock/
/contrib/pgvector/*
/contrib/m3v/build/*
/.vscode/db
/.vscode/rocksdb_data
/contrib/m3v/rocksdb_data/*
/contrib/m3v/db/*
/contrib/m3v/a3v_index/*
/bigann_vector_128_1M_vector.txt
/contrib/m3v/src/tests_data/bigann_vector_128_100M_1000.txt
/contrib/m3v/src/tests_data/ssnpp_vector_256_100M_1000.txt
/contrib/m3v/src/tests/output.txt
/contrib/m3v/a3v_*.bin
/contrib/m3v/a3v_index*
/.bash_profile
/bigann_*
/experiment*
/contrib/m3v/a3v_*_hnsw*
logfile
/data_transform
/data_load.py
/contrib/m3v/third_party/*
/contrib/m3v/a3v*
/contrib/m3v/src/a3v/vbase_*
/contrib/m3v/exp3*
/contrib/m3v/recipe*
/contrib/m3v/build/*
/perf.data
/perf.data.old
/logfile
test.sql
contrib/m3v/src/a3v/multi_top_k_ref
/qdrant*
/milvus_container_data*
/contrib/m3v/*
/food_ground_truth/*
/hybrid_queries/*
/overlaps_experiments/*
/plan_check_experiments/*
/plan_check_experiments/*
/rate_check_experiments/*
/reviews_experiments/*
/pgvector*
/pgvector
